.comments-section {
    width: 70vw;
    align-self: center;
    background-color: rgba(242,242,242,0.7);
    border: solid 0.1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.404);
}

.comments-container{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: grid;
    gap: 3vh;
    grid-template-columns: 1fr;
    justify-content: center;
    max-height: 40vh;
    min-height: 40vh;
    overflow: scroll;
    scroll-behavior: smooth;
}